<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ten.mapper.BillInfoMapper">

    <resultMap id="billInfo" type="com.ten.entity.BillInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="borrower_name" jdbcType="VARCHAR" property="borrowerName"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="purpose" jdbcType="VARCHAR" property="purpose"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="is_pay_off" jdbcType="TINYINT" property="isPayOff"/>
        <result column="details" jdbcType="VARCHAR" property="details"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>
